body
	$fade: fadein 2s
	-webkit-animation: $fade
	-moz-animation: $fade
	-ms-animation: $fade
	-o-animation: $fade
	animation: $fade

@mixin opacity()
	from
		opacity: 0
	to
		opacity: 1

@mixin blue-gradient()
	background: linear-gradient(40deg, #45cafc, #303f9f) !important

@keyframes fadein
	@include opacity()
@-moz-keyframes fadein
	@include opacity()
@-webkit-keyframes fadein
	@include opacity()
@-ms-keyframes fadein
	@include opacity()

@mixin colorNav()
	@include blue-gradient()
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important

.view
	background-repeat: no-repeat
	background-attachment: fixed
	background-position: bottom
	background-size: cover
	background-image: url(/img/home.jpg)

.mask
	background: linear-gradient(40deg, rgba(69, 202, 252, 0), rgba(48, 63, 159, 1)) !important

.navbar
	background-color: transparent

.top-nav-collapse
	@include colorNav()

@media only screen and (max-width: 768px)
	.navbar
		@include colorNav()

@media only screen and (max-width: 510px)
	#welcomeText
		font-size: 42px

html,
body,
header,
#container,
.view
	height: 100%

#home-menu
	max-width: 346px
	font-size: 20px
	a:hover
		$transition: all .5s
		transition: $transition ease-in-out
		-moz-transition: $transition ease-in
		-o-transition: $transition ease-in
		-webkit-transition: $transition ease-in
		transition: $transition ease-in

		color: #fff !important
		@include blue-gradient()
		-webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
		box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
		margin-left: 8px
