#search
{
	width: 400px;
	height: 40px;
	border-radius: 20px;
}
#rfc
{
	margin-top: 8px;
	margin-right: 5px;
}
#reporte
{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #33B5E5;
	font-size: xx-large;
}
#nombre
{
	margin-left: 5px;
}
#cantidad
{
	margin-left: 5px;
}
#tipo
{
	margin-left: 5px;
}
#taza
{
	margin-left: 5px;
}
#monto
{
	margin-left: 5px;
}
#total
{
	margin-left: 5px;
}
#formulario
{
	border-radius: 10px;
}